@charset 'UTF-8';
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic,700');
@import url('font-awesome.min.css');


/* CSS Document */

*{
font-family: arial, sans-serif, verdana;
}

nav {
/*background: #ff0052;
*/
background:white;
display: block;
position: fixed;
left: 0;
top: 0;
border-bottom: 3px solid #F00;
width: 100%;
z-index: 10;
overflow: visible;
opacity:0.6;
}

nav ul {
overflow: visible;
padding: 0 0 0 130px;
margin: 0;
position: relative;
width: 800px;
left: 50%;
margin-left: -420px;

}

ul {
list-style: none;
overflow: auto;
}

nav li {
float: left;
overflow: show;
}

li {
display: list-item;
text-align: -webkit-match-parent;

}

nav a {
font-weight: bold;
font-family:"Arial Rounded MT Bold", "Bookman Old Style";
display: inline-block;
font-size: 16px;
padding: 10px;
color: #300;
margin: 0;
text-align: center;
}

nav a:hover{
color: black;
background:#dddddd;
}

a{
text-decoration:none;
}

h1, h2, p{
width:100%;
}

div{
position:relative;
top:10%;
}

nav li img{

margin-top:0.2em; 
width:100px;
position:absolute;
left:-2em;
}

body{
	background: url("../images/dark1.jpg") repeat;
	text-align:center;

}

img{
	/* width:100%; */
	max-width:100%;
}

.menuBar{
 color: white;
 text-align: center;
}

.menuTab{
background: #777777;
width=24%; 
margin=auto;
padding=1px;

}

.projectUpdate{

	background-color:white;
	top: 90px;
	border: 2px solid #F00;
	border-radius:3px;
	text-align:center;
	width:1000px;
	padding:10px;
	margin-left:1400px;
	margin-right:auto;
	margin-top:auto;
	margin-bottom:auto;
	position:absolute;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
	white-space:nowrap;
	display:inline-block;
	
	

}

.divNext{

	background-color:transparent;
	top:3em;
	/*border: 2px solid #F00;
	border-radius:3px;*/
	text-align:center;
	width:800px;
	/*padding:10px;*/
	margin-left:250px;
	margin-right:auto;
	margin-top:auto;
	margin-bottom:auto;
	position:absolute;
	/*box-shadow: 5px 5px 10px rgba(0,0,0,0.1);*/
	white-space:nowrap;
	display:inline-block;

}

.divHome{

	width:	850px;
/*	padding:5px;*/
	margin-left:auto;
	margin-right:auto;
	margin-top:3em;
	margin-bottom:auto;
	position:relative;
	/*box-shadow: 5px 5px 10px rgba(0,0,0,0.1);*/
	white-space:nowrap;
	display:inline-block;

}

.lastDiv{
	
	top:5.5em;
	text-align:center;
	width:850px;
	height:400px;
	margin-left:2800px;
	margin-right:100px;
	margin-top:auto;
	margin-bottom:auto;
	position:absolute;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
	white-space:nowrap;
	display:inline-block;
}

.end{
 width:50px;
 text-align:center;
 top:5.5em;
 margin-left:3000px;
 position:absolute;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
	white-space:nowrap;
	display:inline-block;
}

#inputbox{
	
	text-align:left;
	height:1.5em;
	width:70%;
	margin:auto;
}

#labels{
height:2em;
width: 10em;
float:left;
text-align: center;
vertical-align:middle;
margin:auto;
font-size:18px;
font-family:"Bookman Old Style", "Arial Rounded MT Bold";
font-style:bold;
}

#button{
text-align:center;
margin:auto;
font-size:15px;
float:none;
vertical-align:middle;
}



/* List */

		ul
		{
		}

			ul.default
			{
				list-style: disc;
				padding-left: 1em;
			}
			
				ul.default li
				{
					padding-left: 0.5em;
				}
				
			ul.social
			{
				cursor: default;
				margin: 0;
			}
			
				ul.social li
				{
					position: relative;
					display: inline-block;
					margin: 0.25em;
					top: 0;
				}

					ul.social li a {
						display: block;
						width: 48px;
						height: 48px;
						border-radius: 6px;
						top: 0;
						position: relative;

						-moz-transition: top .2s ease-in-out;
						-webkit-transition: top .2s ease-in-out;
						-o-transition: top .2s ease-in-out;
						-ms-transition: top .2s ease-in-out;
						transition: top .2s ease-in-out;
					}

					ul.social li a:before {
						background-color: #444;
						background-image: url('images/bg.png'),		-moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
						background-image: url('images/bg.png'),		-ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
						background-image: url('images/bg.png'),		-o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
						background-image: url('images/bg.png'),		-webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
						background-image: url('images/bg.png'),		linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
						border-radius: 6px;
						box-shadow: inset 0px 0px 0px 1px #282828, inset 0px 2px 1px 0px rgba(255,255,255,0.1);
						color: #2E2E2E !important;
						display: block;
						font-size: 26px;
						height: 48px;
						line-height: 48px;
						text-align: center;
						outline: 0;
						overflow: hidden;
						text-shadow: 1px 1px 0px rgba(255,255,255,0.1);
						width: 48px;

						-moz-transition: background-color .2s ease-in-out;
						-webkit-transition: background-color .2s ease-in-out;
						-o-transition: background-color .2s ease-in-out;
						-ms-transition: background-color .2s ease-in-out;
						transition: background-color .2s ease-in-out;
					}

						ul.social li a.fa-twitter		{ background-color: #2DAAE4; }
						ul.social li a.fa-facebook		{ background-color: #3C5A98; }
						ul.social li a.fa-dribbble		{ background-color: #C4376B; }
						ul.social li a.fa-linkedin		{ background-color: #006599; }
						ul.social li a.fa-tumblr		{ background-color: #51718A; }
						ul.social li a.fa-google-plus	{ background-color: #DA2713; }
						ul.social li a.fa-github		{ background-color: #FAFAFA; }
						ul.social li a.fa-rss			{ background-color: #F2600B; }
						ul.social li a.fa-instagram		{ background-color: #E0D7C8; }
						ul.social li a.fa-foursquare	{ background-color: #39A3D4; }
						ul.social li a.fa-skype			{ background-color: #10BEF1; }
						ul.social li a.fa-soundcloud	{ background-color: #FE5419; }
						ul.social li a.fa-youtube		{ background-color: #BF2E25; }
						ul.social li a.fa-blogger		{ background-color: #FF6501; }
						ul.social li a.fa-flickr		{ background-color: #0062DB; }
						ul.social li a.fa-vimeo			{ background-color: #4C8AB0; }

						ul.social li a:hover
						{
							top: -5px;
						}
						
							ul.social li a:hover:before
							{
								background-color: transparent;
							}

			ul.actions
			{
			}

				ul.actions li
				{
					display: inline-block;
					margin: 0 0 0 1em;
				}
				
					ul.actions li:first-child
					{
						margin-left: 0;
					}

		ol
		{
		}	

			ol.default
			{
				list-style: decimal;
				padding-left: 1.25em;
			}

				ol.default li
				{
					padding-left: 0.25em;
				}
/*********************************************************************************/
/* Icons                                                                         */
/*********************************************************************************/

	.icon {
		text-decoration: none;
	}

		.icon:before {
			display: inline-block;
			font-family: FontAwesome;
			font-size: 1.25em;
			text-decoration: none;
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing:antialiased;
			-moz-osx-font-smoothing:grayscale;
		}
		
		.icon > .label {
			display: none;
		}

		.icon.featured
		{
			color: #EA8A95;
			display: block;
			margin: 0 0 1.5em 0;
			cursor: default;
		}
		
			.icon.featured:before
			{
				font-size: 6em;
			}
/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	.wrapper
	{
		background-image: url('images/bg.png');
		box-shadow: inset 0px 1px 0px 0px rgba(0,0,0,0.05), inset 0px 2px 3px 0px rgba(0,0,0,0.1);
	}

		.wrapper.first
		{
			box-shadow: none;
		}

		.wrapper.style1
		{
			background-image: none;
			background-color: #fff;
		}
		
		.wrapper.style2
		{
			background-color: #fafafa;
			text-shadow: 1px 1px 0px #fff;
		}
		
		.wrapper.style3
		{
			background-color: #f4f4f4;
			text-shadow: 1px 1px 0px #fff;
		}

		.wrapper.style4
		{
			background-color: #303030;
			color: #999;
			text-shadow: -1px -1px 0px #181818;
		}

			.wrapper.style4 h1, 
			.wrapper.style4 h2, 
			.wrapper.style4 h3, 
			.wrapper.style4 h4, 
			.wrapper.style4 h5, 
			.wrapper.style4 h6
			{
				color: #fff;
			}

			.wrapper.style4 form input[type=text],
			.wrapper.style4 form input[type=password],
			.wrapper.style4 form select,
			.wrapper.style4 form textarea
			{
				border: none;
				background: #282828;
			}

			.wrapper.style4 form input[type=text]:focus,
			.wrapper.style4 form input[type=password]:focus,
			.wrapper.style4 form select:focus,
			.wrapper.style4 form textarea:focus
			{
				background: #252525;
			}

.footer {
background: #282828;
display: block;
position: fixed;
left: 0;
right:0;
top:auto;
bottom:0;
border-top: 2px solid #F00;
width: 100%;
z-index: 10;
overflow: visible;
opacity:0.7;
}

#social-icons {
    margin-top: 5%;
    text-align: center;
}

#social {
    position: relative;
    height:40px;
}

.col-lg-4 {
    width: 33.3333%;
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	.copyright li
	{
		color: #666;
		text-align:left;
	}
	
		.copyright a
		{
			color: inherit;

			-moz-transition: color .2s ease-in-out;
			-webkit-transition: color .2s ease-in-out;
			-o-transition: color .2s ease-in-out;
			-ms-transition: color .2s ease-in-out;
			transition: color .2s ease-in-out;
		}
		
		.copyright a:hover
		{
			color: #777;
		}