<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; 		charset=utf-8" />
<title>PMO</title>
	<link rel="stylesheet" href="../static/css/main.css">
    
</head>

<body>
 
 <div class="projectUpdate">
 	<form action="updateProject.py">
 <p>	<label id="labels">Project Name</label> <input type="text" name="projName" autofocus id="inputbox" placeholder="Enter the name of your project" >
 </p>
  <p>  <label id="labels">Summary</label><textarea rows="4" name="summary" placeholder="Enter brief summary of the project" style="width:70%"></textarea>
  </p>
  <p><label id="labels">Source url</label><input type="text" name="srcurl" id="inputbox" placeholder="Enter the source url">
  </p>  
  <p><label id="labels">Doc url</label><input type="text" name="docurl" id="inputbox" placeholder="Enter the document url">
  </p>    
  <p><label id="labels">Upload Apk</label><input type="file" name="file_id" id="inputbox" /></p>
  <p><label id="labels">Upload Logo</label><input type="file" name="logo_id" id="inputbox" /></p>
  
  
    </form>
    </div>
    
</body>
</html>
