<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Expand, contract, animate forms with jQuery wihtout leaving the page" />
    <meta name="keywords" content="expand, form, css3, jquery, animate, width, height, adapt, unobtrusive javascript"/>
    
	<title>PMO</title>

	<!-- Calling main css file-->
	<link rel="stylesheet" href="../static/login/css/main.css">
   	
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    
    <!-- jQuery lib for mouse wheel horizontal scroll-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="../static/js/jquery.mousewheel.js"></script>
    
     <script type="text/javascript" src="../static/tinymce/tinymce.min.js"></script>
     
     <script type="text/javascript">
tinymce.init({
    selector: "#txtarea",
    theme: "modern",
    plugins: [
        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
        "searchreplace wordcount visualblocks visualchars code fullscreen",
        "insertdatetime media nonbreaking save table contextmenu directionality",
        "emoticons template paste textcolor colorpicker textpattern"
    ],
    toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
    toolbar2: "print preview media | forecolor backcolor emoticons",
    image_advtab: true,
    templates: [
        {title: 'Test template 1', content: 'Test 1'},
        {title: 'Test template 2', content: 'Test 2'}
    ]
	
});
</script>
    
        
    <!--Enabling horizontal scroll using mouse wheel -->
    <script>
	$(document).ready(function() {
    
	$('html, body, *').mousewheel(function(e, delta) {
        this.scrollLeft -= (delta * 100);
        e.preventDefault();
    });
	
	
	});
	</script>
    
       
    <script>
		function funReset() {
    	document.getElementById("updateProject").reset();
	}
	</script>
    
    <script>
		function funSubmit(){
		document.getElementById("updateProject").submit();		
	}
	
	</script>
    
    	
</head>

<body>

			<nav>
                <ul>
                	<li>
  							<img src="../static/images/logo.png">
                    </li>
                    <li>
                    	<a href="#usrHome">Home</a>
                    </li>
                    <li>
                    	<a href="#divWorks">Our Works</a>
                    </li>
                    <li>
                    	<a href="#divAbout">About PMO</a>
                    </li>
                    <li>
                    	<a href="#divDocuments">Documentation</a>
                    </li>
                    <li>
                    	<a href="#lastDiv">Learn</a>
                    </li>
                    <li>
                    	<a href="#divContact">Reach Us</a>
                    </li>
					<li>
                    	<a href="#updateProject">Form</a>
                    </li>
                    <li>
                    	<a href="#">Sign Out</a>
                    </li>
                </ul>
               
            </nav>
            
<div class="userHome" id="usrHome">

<form method="post">

			<h4 style="color:#0FF">You have beeen logged in as</h4>

    		<textarea class="txtarea" id="txtarea" name="content" style="width:100%; height:300px"></textarea>
            
           
    		<input type="button" name="Submit" value="Submit" style="width: 100px; vertical-align:middle; float:none; display: 		table-cell"/>
            
            <input type="button" name="Logout" value="Logout" style="width: 100px; vertical-align:middle; float:none; display: 		table-cell"/>
    
		</form>

</div>

<div class="projectUpdate" id="updateProject">
 
 <h4 style="color:#00F">Upload your Project here</h4>
 
 	<form action="UpdateProject.py" id="updateProject">
 <p>	<label id="labels">Project Name</label> <input type="text" name="projName" autofocus id="inputbox" placeholder="Enter the name of your project" >
 </p>
  <p>  <label id="labels">Summary</label><textarea rows="4" name="summary" placeholder="Enter brief summary of the project" style="width:70%"></textarea>
  </p>
  <p><label id="labels">Source url</label><input type="text" name="srcurl" id="inputbox" placeholder="Enter the source url">
  </p>  
  <p><label id="labels">Doc url</label><input type="text" name="docurl" id="inputbox" placeholder="Enter the document url">
  </p>    
  <p><label id="labels">Upload Apk</label><input type="file" name="file_id" id="inputbox" /></p>
  <p><label id="labels">Upload Logo</label><input type="file" name="logo_id" id="inputbox" /></p>
  
  <p><input type="button" name="btnSubmit" value="Submit" id="button" onclick="funSubmit()" />
  
  <input type="reset" name="btnReset" value="Clear" id="button" onclick="funReset()" /></p>  
  
   	</form>
    
</div> 	    
  
  <div class="footer">
    
    <img src="../static/images/mhrd-logo.png" style="position: absolute; margin: 0 auto;
       top:0px; left: 50px; width: 80px; height: 60px;">
    				
    <img src="../static/images/nmeict-logo.png" style="position: absolute; margin: 0 auto;
       top:0px; right: 50px; width: 80px; height: 60px;">
								
    <div class="col-lg-4" id="social" style="z-index:2">
		
        <div id="social-icons">
       
        <a href="https://github.com/" target="_blank">
          <img src="../static/images/github-white.png" style="position: absolute; top:-20px; left: 560px; width: 48px; height: 48px;" alt="github">
        </a>
        <a href="https://plus.google.com/">
          <img src="../static/images/googleplus.png" style="position: absolute; margin: 0 auto;
       top:-20px; left: 620px; width: 48px; height: 48px; " alt="googleplus">
        </a>
        <a href="#">
          <img src="../static/images/facebook.png" style="position: absolute; margin: 0 auto;
       top:-20px; left: 680px; width: 48px; height: 48px; " alt="facebook">
        </a>
        <a href="#" target="_blank">
          <img src="../static/images/youtube.png" style="position: absolute; margin: 0 auto;
       top:-20px; left: 740px; width: 48px; height: 48px; " alt="youtube">
        </a>
        
		</div>
    </div>      

  </div>
</div>
     
</body>
</html>
